@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --main-black: #252934;
    --black-dark: #1b242f;
    --black-light: #1e242c;
    --main-white: #fff;
    --pink: #fe019a;
    --blue: #4d4dff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-black);
    color: var(--main-white);
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}


.btn{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--main-white);
    text-decoration: none;
    color: var(--main-white);
    cursor: pointer;
}

.btn:hover{
    transition: all 0.5s;
    background-color: var(--blue);
    border-color: var(--blue);
}

.sq-btn{
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 0;
    background-color: var(--main-black);
    border: 1px solid var(--main-black);
    text-decoration: none;
    color: var(--main-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sq-btn:hover{
    transition: all 0.5s;
    background-color: var(--blue);
    border-color: var(--blue);
}

.vertical-gap{
    height: 5px;
}


/* top box */

.top-box{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-box .title{
    color: var(--main-white);
    font-size: 36px;
}
.top-box .title span{
    color: var(--pink);
}
/* top box  */

/* bottom box */

.bottom-box{
    color: var(--main-white);
    background-color: var(--main-black);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-box .title{
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

.bottom-box .sub-title{
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--pink);
}

.bottom-box button{
    margin-left: 10px;
}

/* bottom box */

/* footer */

.footer{
    background-color: var(--black-dark);
    color: var(--main-white);
    padding: 35px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .links{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.footer .links a{
    margin: 0 15px;
}

.footer .copy{
    font-size: 15px;
    margin-top: 25px;
}

/* footer */


input{
    display: block;
    margin: 10px;
    height: 40px;
    width: 400px;
    border-radius: 0;
    border: none;
    background-color: var(--black-light);
    color: var(--main-white);
    padding: 8px;
    font-size: 15px;
}

textarea{
    display: block;
    resize: none;
    margin: 10px;
    width: 400px;
    height: 120px;
    border-radius: 0;
    border: none;
    background-color: var(--black-light);
    padding: 8px;
    color: var(--main-white);
    font-size: 15px;
}

input::placeholder, textarea::placeholder{
    font-size: 15px;
}

.instagram-logo {
    width: 24px;
    height: 24px;
}

.instagram-logo circle{
    fill: var(--main-white);
}
.instagram-logo path {
    fill: var(--main-white);
}
.instagram-logo .logo {
    fill: var(--main-white);
}

/* media queries */

@media only screen and (max-width: 520px){
    .top-box .title{
        font-size: 20px;
    }

    input{
        width: 300px;
    }
    textarea{
        width: 300px;
        height: 100px;
    }

    .footer .links{
        margin: 20px;
    }

    .instagram-logo{
        height: 20px;
        width: 20px;
    }
    .sq-btn{
        font-size: 24px;
    }
    .footer .links{
	margin: 10px;
    }
}


@media only screen and (min-width: 1100px){
    .top-box .title{
        font-size: 36px;
    }

    .btn {
        font-size: 24px;
    }

    input{
        width: 500px;
        height: 50px;
        font-size: 16px;
    }
    textarea{
        width: 500px;
        height: 150px;
        font-size: 16px;
    }

    input::placeholder, textarea::placeholder{
        font-size: 16px;
    }

    .footer .links{
        margin: 15px;
    }
}

